In [1]:
import pandas as pd
df = pd.read_csv('resources/data.csv')
df.head(10)

,CODE_AGE,CODE_PTF,MARCHE,PROD_CONQ_A2,PROD_CONQ_A1,PROD_CONQ_A,PROD_STK_A2,PROD_STK_A1,PROD_STK_A,PROD_A2,PROD_A1,PROD_A,STK_A2,STK_A1,STK_A
0,0BOB,GIK-788,E,93,64,59,135,187,259,180,122,79,152,92,71
1,S29Z,EROC8-569,P,119,102,84,107,140,172,147,95,110,130,119,105
2,PRCO,NCKO5-335,P,56,39,45,63,86,99,82,109,92,60,78,82
3,OCSO,CCCO-206,E,32,42,38,138,175,178,171,160,97,113,102,118
4,43OR,JLMN0-877,P,125,106,112,97,129,134,83,61,84,129,157,146
5,LQZE,KHQ6-206,E,134,107,95,134,154,197,95,58,58,168,208,287
6,0T4I,BMDF-597,E,31,38,41,128,134,183,130,84,59,88,53,69
7,85O2,EQLA-435,E,120,160,137,183,173,134,173,119,86,118,86,76
8,Z4TN,RRL5-543,E,159,98,111,117,143,191,141,115,152,159,187,252
9,QX7E,JAH-010,E,67,76,98,194,128,148,236,233,219,267,288,216

In [2]:
from sklearn.preprocessing import MinMaxScaler
import numpy as np

df['MARCHE_BOL'] = np.where(df['MARCHE'] == 'P', 0, 1)

In [3]:
df.head(5)

,CODE_AGE,CODE_PTF,MARCHE,PROD_CONQ_A2,PROD_CONQ_A1,PROD_CONQ_A,PROD_STK_A2,PROD_STK_A1,PROD_STK_A,PROD_A2,PROD_A1,PROD_A,STK_A2,STK_A1,STK_A,MARCHE_BOL
0,0BOB,GIK-788,E,93,64,59,135,187,259,180,122,79,152,92,71,1
1,S29Z,EROC8-569,P,119,102,84,107,140,172,147,95,110,130,119,105,0
2,PRCO,NCKO5-335,P,56,39,45,63,86,99,82,109,92,60,78,82,0
3,OCSO,CCCO-206,E,32,42,38,138,175,178,171,160,97,113,102,118,1
4,43OR,JLMN0-877,P,125,106,112,97,129,134,83,61,84,129,157,146,0

In [4]:
df.describe()

,PROD_CONQ_A2,PROD_CONQ_A1,PROD_CONQ_A,PROD_STK_A2,PROD_STK_A1,PROD_STK_A,PROD_A2,PROD_A1,PROD_A,STK_A2,STK_A1,STK_A,MARCHE_BOL
count,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000
mean,109.489735,109.011998,108.494211,109.443194,108.924859,108.403509,108.952048,108.476751,108.023421,108.936082,108.388831,107.922986,0.500019
std,51.974755,58.969747,65.452900,51.962596,58.899612,65.381114,58.945232,65.428358,71.579665,58.918798,65.342455,71.509924,0.500000
min,20.000000,12.000000,7.000000,20.000000,12.000000,7.000000,12.000000,7.000000,4.000000,12.000000,7.000000,4.000000,0.000000
25%,64.000000,60.000000,57.000000,64.000000,60.000000,56.000000,60.000000,57.000000,53.000000,60.000000,57.000000,53.000000,0.000000
50%,109.000000,103.000000,97.000000,109.000000,103.000000,97.000000,103.000000,97.000000,93.000000,103.000000,97.000000,93.000000,1.000000
75%,155.000000,150.000000,148.000000,154.000000,149.000000,148.000000,149.000000,148.000000,147.000000,149.000000,148.000000,147.000000,1.000000
max,199.000000,276.000000,383.000000,199.000000,276.000000,383.000000,276.000000,383.000000,526.000000,276.000000,383.000000,528.000000,1.000000

In [5]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

X = df[['MARCHE_BOL', 'PROD_CONQ_A2', 'PROD_CONQ_A1']]
y = df[['PROD_CONQ_A']]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [6]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score, mean_squared_error


model = RandomForestRegressor(n_estimators=300, random_state=42)
model.fit(X_train_scaled, y_train.values.ravel())

RandomForestRegressor(n_estimators=300, random_state=42)

In [7]:
y_pred = model.predict(X_test_scaled)
r2 = r2_score(y_test, y_pred)
rmse = mean_squared_error(y_test, y_pred, squared=False)

In [8]:
print(r2)
print(rmse)

0.8051025752027973
28.816384413239433

In [9]:
result_df = pd.DataFrame({'MARCHE_BOL': X_test['MARCHE_BOL'], 'PROD_CONQ_A2': X_test['PROD_CONQ_A2'], 'PROD_CONQ_A1': X_test['PROD_CONQ_A1'], 'PROD_CONQ': y_test.values.ravel(), 'Predictions': y_pred})

In [10]:
result_df

        MARCHE_BOL  PROD_CONQ_A2  PROD_CONQ_A1  PROD_CONQ  Predictions
987231           0           177           120         86   113.427243
79954            1           164           129        174   134.680080
567130           1            61            78         98    74.904816
500891           0           198           142        181   129.691938
55399            1            89            97         83    95.634363
...            ...           ...           ...        ...          ...
90245            1           182           151        178   156.538923
639296           0            44            55         54    53.104493
311939           0           193           250        337   243.030500
324459           1           165           226        221   221.700331
390499           0           111            87        111    86.266520

[200000 rows x 5 columns]

In [11]:
from joblib import dump

dump(scaler, 'scaler_model.joblib')

dump(model, 'model.joblib')

['model.joblib']